@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9873 0.0055 76.6269);
  --foreground: oklch(0.3289 0.0227 66.9006);
  --card: oklch(0.9742 0.0078 84.5709);
  --card-foreground: oklch(0.3289 0.0227 66.9006);
  --popover: oklch(0.9742 0.0078 84.5709);
  --popover-foreground: oklch(0.3289 0.0227 66.9006);
  --primary: oklch(0.6136 0.0937 156.6146);
  --primary-foreground: oklch(0.9873 0.0027 106.4485);
  --secondary: oklch(0.9121 0.0547 76.1994);
  --secondary-foreground: oklch(0.4021 0.0531 74.6196);
  --muted: oklch(0.9293 0.0098 84.5761);
  --muted-foreground: oklch(0.5618 0.0224 67.3442);
  --accent: oklch(0.9167 0.0275 39.3489);
  --accent-foreground: oklch(0.4128 0.0695 39.1533);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8944 0.0209 76.5271);
  --input: oklch(0.9439 0.0110 76.5959);
  --ring: oklch(0.6136 0.0937 156.6146);
  --chart-1: oklch(0.6892 0.1302 155.1283);
  --chart-2: oklch(0.7904 0.1091 74.3858);
  --chart-3: oklch(0.7749 0.0524 229.8830);
  --chart-4: oklch(0.8888 0.0998 91.6924);
  --chart-5: oklch(0.7393 0.0959 31.8404);
  --sidebar: oklch(0.9613 0.0117 84.5789);
  --sidebar-foreground: oklch(0.3800 0.0273 66.8489);
  --sidebar-primary: oklch(0.5636 0.0852 156.6728);
  --sidebar-primary-foreground: oklch(0.9873 0.0027 106.4485);
  --sidebar-accent: oklch(0.9153 0.0162 160.5913);
  --sidebar-accent-foreground: oklch(0.4208 0.0746 155.6417);
  --sidebar-border: oklch(0.9130 0.0111 76.5933);
  --sidebar-ring: oklch(0.6136 0.0937 156.6146);
  --font-sans: "Quicksand", "Segoe UI", sans-serif;
  --font-serif: "Libre Baskerville", serif;
  --font-mono: "Courier Prime", monospace;
  --radius: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(30, 20%, 20%);
  --shadow-2xs: 0px 4px 12px 2px hsl(30 20% 20% / 0.04);
  --shadow-xs: 0px 4px 12px 2px hsl(30 20% 20% / 0.04);
  --shadow-sm: 0px 4px 12px 2px hsl(30 20% 20% / 0.08), 0px 1px 2px 1px hsl(30 20% 20% / 0.08);
  --shadow: 0px 4px 12px 2px hsl(30 20% 20% / 0.08), 0px 1px 2px 1px hsl(30 20% 20% / 0.08);
  --shadow-md: 0px 4px 12px 2px hsl(30 20% 20% / 0.08), 0px 2px 4px 1px hsl(30 20% 20% / 0.08);
  --shadow-lg: 0px 4px 12px 2px hsl(30 20% 20% / 0.08), 0px 4px 6px 1px hsl(30 20% 20% / 0.08);
  --shadow-xl: 0px 4px 12px 2px hsl(30 20% 20% / 0.08), 0px 8px 10px 1px hsl(30 20% 20% / 0.08);
  --shadow-2xl: 0px 4px 12px 2px hsl(30 20% 20% / 0.20);
  --tracking-normal: 0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2336 0.0186 248.6300);
  --foreground: oklch(0.9323 0.0147 84.5845);
  --card: oklch(0.2649 0.0225 248.6877);
  --card-foreground: oklch(0.9323 0.0147 84.5845);
  --popover: oklch(0.2649 0.0225 248.6877);
  --popover-foreground: oklch(0.9323 0.0147 84.5845);
  --primary: oklch(0.5908 0.0907 168.4900);
  --primary-foreground: oklch(0.9652 0.0059 174.4097);
  --secondary: oklch(0.3800 0.0273 66.8489);
  --secondary-foreground: oklch(0.8974 0.0399 67.2820);
  --muted: oklch(0.3160 0.0230 248.5583);
  --muted-foreground: oklch(0.7200 0.0165 248.0568);
  --accent: oklch(0.4091 0.0492 170.2937);
  --accent-foreground: oklch(0.9119 0.0434 173.1221);
  --destructive: oklch(0.4760 0.1590 25.6357);
  --destructive-foreground: oklch(0.9619 0 0);
  --border: oklch(0.3645 0.0277 248.5929);
  --input: oklch(0.2961 0.0210 248.5405);
  --ring: oklch(0.5908 0.0907 168.4900);
  --chart-1: oklch(0.6954 0.1084 168.3427);
  --chart-2: oklch(0.6855 0.1019 64.6892);
  --chart-3: oklch(0.6688 0.0757 249.0171);
  --chart-4: oklch(0.6755 0.0759 195.5043);
  --chart-5: oklch(0.6007 0.1224 0.2838);
  --sidebar: oklch(0.2121 0.0159 248.5799);
  --sidebar-foreground: oklch(0.8935 0.0149 84.5857);
  --sidebar-primary: oklch(0.5368 0.0815 168.5910);
  --sidebar-primary-foreground: oklch(0.9652 0.0059 174.4097);
  --sidebar-accent: oklch(0.2961 0.0210 248.5405);
  --sidebar-accent-foreground: oklch(0.9648 0.0049 84.5642);
  --sidebar-border: oklch(0.3160 0.0230 248.5583);
  --sidebar-ring: oklch(0.5908 0.0907 168.4900);
  --font-sans: "Quicksand", "Segoe UI", sans-serif;
  --font-serif: "Libre Baskerville", serif;
  --font-mono: "Courier Prime", monospace;
  --radius: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 6px 15px 0px hsl(0 0% 0% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}